:root {
  --red: #ff3860;
  --red-dark: #ff1443;
  --red-light: #ff5c7c;
  --blue: #498afb;
  --blue-dark: #2674fa;
  --blue-light: #6ca0fc;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;
  --green: #09c372;
  --green-dark: #07a15e;
  --green-light: #0be586;
  --purple: #9166cc;
  --purple-dark: #7d4bc3;
  --purple-light: #a481d5;
  --yellow: #ffdd57;
  --yellow-dark: #ffd633;
  --yellow-light: #ffe47a;
  --pink: #ff4088;
  --pink-dark: #ff1c72;
  --pink-light: #ff649e;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --nav-width: 4em;
  --font-body: 'sofia-pro', sans-serif;
  --font-head: 'sofia-pro', sans-serif;
  --font-code: 'attribute-mono', monospace;
  --font-size: 20px;
  --max-width-bp: 768px;
  --orange-pink: linear-gradient(
    to bottom right,
    var(--orange-light),
    var(--orange-dark) 85%
  );
  --green-grad: linear-gradient(
    to bottom right,
    var(--green-light),
    var(--green-dark) 85%
  );
  --background: var(--gray6);
  --text-color: var(--gray2);
  --h-color: #fff;
  --nav-shadow: 4px 0 10px -3px #010101;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
  --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
  --nav-bg: var(--gray5);
  --tag-bg: var(--gray4);
  --code-bg: #22262f;
  --card-bg: var(--gray5);
  --overlay-bg: rgba(0, 0, 0, 0.9);
  --h-border: 2px dashed var(--nav-bg);
  --nav-border: 2px dashed var(--text-color);
  --card-radius: 0.25em;
  transition: all 0.3s ease;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  background: black;
  color: white;
}
div,
section,
header,
footer,
p,
h1,
h2 {
  box-sizing: border-box;
}
a {
  color: royalblue;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.5rem;
}
.global-width {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 1rem;
}
.scroll-graphic {
  overflow-x: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}
.img-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  will-change: opacity;
  overflow: hidden;
}
.visible {
  opacity: 1;
}
/* .invisibleing {
  opacity: 0;
} */

.img-item.visible img {
  transition: all 3s ease;
  transform: scale(1.03);
}
.scene-img {
  max-height: 100vh;
}
.scroll-text {
  position: relative;
  padding-bottom: 1px;
}
.step {
  margin-bottom: 60vh;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}
.bird {
  position: absolute;
  left: 0;
  bottom: 70%;
  width: 100px;
  transform: translateX(-100%);
  transition: 1.5s 0.5s linear;
}
[data-index='5'] .bird {
  left: 30%;
  bottom: 30%;
}
.global-footer {
  padding: 2rem 0;
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
}

.title {
  display: flex;
  align-items: end;
}
.title__sub {
  padding-left: 5px;
  padding-bottom: 4px;
}
img.full {
  height: 100%;
}

.none {
  opacity: 0;
}

.scroll-text {
  color: black;
}

img {
  opacity: 0.9;
}
.container-bottom article {
  margin-bottom: 2rem;
}
.tags {
  margin: 3rem 0 3rem 0;
}
.tag {
  display: inline-block;
  border-radius: 3px;
  padding: 0.2em 0.5em 0.3em;
  border-radius: 2px;
  background: var(--tag-bg);
  color: var(--text-color);
  font-weight: 600;
  margin: 0.25em 0.1em;
}

article iframe {
  width: 100%;
}
article h2 {
  margin-bottom: 1rem;
}
nav {
  padding: 0.2rem 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.container-load-resource {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index: 0;
}
.pr {
  position: relative;
}
.part1 {
  /* width: 1920px;
  height: 1080px; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url(/assets/part1.4b213258.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.part1 video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.part1 .video_bg {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.container-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
.pa {
  position: absolute;
}
.container-title {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-first-text {
  height: 100vh;
  display: flex;
  align-items: center;
}
